:root {
    --red: red;
    --blue: yellow;
}

@font-face {
    font-family: walkTheMoonExpanded;
    src: url(Walk_The_Moon_Expanded/walkthemoonexpand.ttf);
}

#font-face {
    font-family: walkTheMoonHalftone;
    src: url(Walk_The_Moon_Halftone/walkthemoonhalf.ttf);
}

#home {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: gray;
}

.homeBtn {
    width: 10rem;
    height: 5rem;
    font-size: 1.5rem;
    background-color: black;
    border: 4px solid yellow;
    border-radius: .7rem;
    font-family: walkTheMoonExpanded;
    color: yellow;
    filter: drop-shadow(.3rem .5rem 1rem yellow);
}

.board {
    width: 95vw;
    height: 95vw;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 1vw;
    background-color: rgb(63, 63, 63);
    margin-top: 0;
}

.coin {
    background-color: darkred;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation-name: coinDrop;
    animation-duration: .7s;
    animation-timing-function: ease-in;
}

#buttonContainer {
    width: 95vw;
    height: calc(95vw / 7);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr, 2px;
    gap: 1vw;
    justify-items: center;
    align-items: center;
    background-color:rgb(63, 63, 63);
}

.button {
    width: 80%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    grid-row: 1;
    background-color: aqua;
}

@media (max-width: 600px), screen and (orientation: portrait) {
    .board {
        width: 95vw;
        height: 95vw;
    }

    #buttonContainer {
        width: 95vw;
        height: calc(95vw / 7);
    }
}
  








@keyframes coinDrop {
    from {transform: translate(0, -300px);}
    to {transform: translate(0, 0);}
}