:root {
    --red: red;
    --blue: yellow;
    --boardColor: rgba(48,255,242,.9);
}

@font-face {
    font-family: walkTheMoonExpanded;
    src: url(Walk_The_Moon_Expanded/walkthemoonexpand.ttf);
}

#font-face {
    font-family: walkTheMoonHalftone;
    src: url(Walk_The_Moon_Halftone/walkthemoonhalf.ttf);
}

* {
    box-sizing: border-box;
}

#home {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: gray;
    z-index: 10;
}

.homeBtn {
    width: 10rem;
    height: 5rem;
    font-size: 1.5rem;
    background-color: black;
    border: 4px solid yellow;
    border-radius: .7rem;
    font-family: walkTheMoonExpanded;
    color: yellow;
    filter: drop-shadow(.3rem .5rem 1rem yellow);
}

.board {
    width: 95vw;
    height: 95vw;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 1vw;
    margin-top: 0;
    
    background: rgba(0,160,255,.3);
    box-shadow: inset 0 -15px 50px 10px rgba(48,255,242,.9);
    padding: 1rem;
    border: .4rem solid var(--boardColor);
    border-radius: 1rem;
    filter: drop-shadow(2px 0 10px var(--boardColor));
    backdrop-filter: blur(12px);
}

.coin {
    background-color: darkred;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation-name: coinDrop;
    animation-duration: 1s;
    animation-timing-function: linear;
    position: relative;
}

.coin div {
    background-color: darkred;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation-name: afterImage;
    animation-duration: 1s;
    animation-timing-function: linear;
    position: absolute;
}

.coin :first-child {
    animation-delay: 0s;
    filter: opacity(60%);
}

.coin :nth-child(2) {
    animation-delay: .8s;
    filter: opacity(40%);
}

.coin :nth-child(3) {
    animation-delay: 1.4s;
    filter: opacity(20%);
}

#buttonContainer {
    width: 95vw;
    height: calc(95vw / 7);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr, 2px;
    gap: 1vw;
    justify-items: center;
    align-items: center;
    background-color:rgb(63, 63, 63);
}

.button {
    width: 80%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    grid-row: 1;
    background-color: aqua;
}

@media (max-width: 600px), screen and (orientation: portrait) {
    .board {
        width: 95vw;
        height: 95vw;
    }

    #buttonContainer {
        width: 95vw;
        height: calc(95vw / 7);
    }
}

@keyframes coinDrop {
    from {transform: translate(0, -500px);}
    to {transform: translate(0, 0);}
}

@keyframes afterImage {
    0% {transform: translate(0, -15px);}
    99% {transform: translate(0, -15px);}
    100% {transform: translate(0, 0);}
}